{% extends 'base.html' %}

{% block content %}

Hello, {{ user.username|default:'Guest'}}!

<div>
    {% if user.is_authenticated %}
        <a href="{% url 'polls:logout' %}">Logout</a>
        <a href="{% url 'polls:password_change' %}">Change password</a>
    {% else %}
        <a href="{% url 'polls:login' %}">Login</a>
    {% endif %}
</div>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock %}
