{% extends 'base.html' %}

{% block content %}
<h2>Change password</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change">
</form>
<a href="{% url 'polls:index' %}">Back to main page</a>
{% endblock %}
